.navbar.navbar-static-top
  .navbar-inner
    = link_to 'BitHub', root_path, class: 'brand'
    %ul.nav
      %li.divider-vertical
      %li{class: ('active' if params[:controller] == 'students')}
        = link_to 'Students', students_path
      %li{class: ('active' if params[:controller] == 'tips')}
        = link_to 'Tips & Tricks', tips_path
      %li{class: ('active' if params[:controller] == 'resources')}
        = link_to 'Resources', resources_path
    .pull-right
      - if logged_in?
        =link_to 'Logout', :logout, class: 'btn pull-right'
        .navbar-text.pull-right
          = "Signed in as " + current_user.full_name

      - else
        =link_to 'Sign Up', [:new, :user], class: 'btn btn-primary'
        =link_to 'Login', :login, class: 'btn btn-primary'
