%h1.well Students

- @students.each do |student|
  .row
    .span4
      =gravatar_image_tag student.email, :height => "100px", :class => "img-polaroid"
      %h2.inline #{student.full_name}
      -if current_user.full_name == student.full_name
        =link_to "Edit", edit_user_path(current_user)
    .span6
      = student.bio

    .span2
      %a{:href => "mailto:#{student.email}"}
        =image_tag "email.png", :width => "32px", :class => "img-polaroid"
      %a{:href => "#{student.twitter_link}"}
        =image_tag "twitter.png", :width => "32px", :class => "img-polaroid"
      %a{:href => "#{student.github_link}"}
        =image_tag "github.png", :class => "img-polaroid"
      %a{:href => "#{student.blog_link}"}
