.well
  %h1
    %i.icon-user
    Students
  %h3.muted 
    Need to find a Bitmaker on Twitter or Github? Here's everyone's information.

- @students.each do |student|
  .row
    .span9
      =gravatar_image_tag student.email, :height => "100px", :class => "img-polaroid pull-left"

      %h2.inline #{student.full_name}

      -if current_user && current_user.email == student.email
        =link_to "Edit", edit_user_path(current_user)
        
      %p= student.bio

    .span3
      %a{:href => "mailto:#{student.email}"}
        =image_tag "email.png", :width => "32px", :class => "img-polaroid"
      %a{:href => "#{student.twitter_link}"}
        =image_tag "twitter.png", :width => "32px", :class => "img-polaroid"
      %a{:href => "#{student.github_link}"}
        =image_tag "github.png", :class => "img-polaroid"
      %a{:href => "#{student.blog_link}"}
        =image_tag "home.png", :width => "32px", :class => "img-polaroid"