- if action == :edit
  %fieldset
    %legend Your Gravatar
    = gravatar_image_tag @user.email
    = link_to 'Change your Gravatar', 'http://gravatar.com/emails', :title => "Use your email address."

- form_defaults = { :input_html => { :class => "input-xlarge"} }
- form_html = { :class => "form-horizontal" }
= simple_form_for user, { :html => form_html, :defaults => form_defaults } do |f|
  %fieldset
    %legend Your Profile
    = render 'shared/form_errors', f: f
    - if action == :new
      = f.input :email
    - else
      = f.input :email, disabled: true, hint: "(you can't change your email, sorry)"
    = f.input :full_name
    = f.input :bio, :label => "Bio"
    = f.input :twitter_link, :label => "Twitter Link"
    = f.input :github_link, :label => "Github Link"
    = f.input :blog_link, :label => "Personal Site Link"
    = f.input :password, :label => "Password"
    = f.input :password_confirmation, :label => "Password Confirmation"
    .controls
      = f.button :submit, :class => "btn btn-success"