/ From hipsteripsum.me

.hero-unit
  %h1 Welcome Bitmakers!
  %p BitHub was created to improve the experience of Bitmaker Labs students. Here you can find tips and tricks ranging from Ruby, Rails and CSS, to where to find the best burger near 20 Duncan St. 

.row
  .span6
    %h3= link_to 'Resources', resources_path, class: 'black'
    .tag_cloud
      - tag_cloud Resource.tag_counts, ['s','m','l'] do |tag, css_class|
        = link_to tag.name, tags_path(tag.name), class: css_class

    %h4 Recent resources
    = render 'shared/resource_list', resources: @resources

  .span6
    %h3= link_to 'Tips & tricks', tips_path, class: 'black'
    .tag_cloud
      - tag_cloud Tip.tag_counts, ['s','m','l'] do |tag, css_class|
        = link_to tag.name, tags_path(tag.name), class: css_class

    %h4 Recent tips & tricks
    = render 'shared/tip_list', tips: @tips