%h2.well= "Items tagged '#{@tag.name}'"

.row
  .span6
    %h3 Resources
    %ul
    - @resources.each do |resource|
      %li
        = link_to resource.title, resource.url
        %p
          %small
            = friendly_date resource.created_at
            by 
            = link_to resource.user.full_name, resource.user

  .span6
    %h3 Tips & Tricks