%h1.well 
  %i.icon-hand-up
  Resources 
  - if logged_in?
    .pull-right
      = link_to '#', class: "btn btn-info btn-add-resource" do
        %i.icon-plus-sign
        Add resource

- if logged_in?
  .well.well-small.new_resource_form
    = render 'fields', resource: @resource, legend: "Add a new resource"

.resources
  - @resources.each do |resource|
    .resource
      .span8
        %h3
          = link_to resource.title, resource.url
          - if current_user && current_user == resource.user
            = link_to 'Edit', [:edit, resource], class: 'btn btn-small pull-right'
        %p= resource.description
        %p= linkify_tags(resource.tag_list)
        %em= "Posted #{friendly_date(resource.created_at)} by "
        = link_to resource.user.full_name, resource.user, class: 'text-info'



