%h2= "Showing tip '#{@tip.title}'"
%p= @tip.description

- if @tip.url
  %p 
    %strong URL:
    = link_to @tip.url, @tip.url

- if @tip.address
  %p 
    %strong Address:
    = @tip.address

- if @tip.gmaps
  %h3= "Map for '#{@tip.title}'"
  = gmaps(:map_options => { :minZoom => 17, :maxZoom => 17, :raw => "{disableDefaultUI: true}"}, :markers => { "data" => @json })
= @tip.title
= @tip.description
= @tip.url
